.deps/
.libs/
/_old*
/_ref
.DS_Store
/autom4te.cache
Debug
ipch
Release
x64
*.la
*.lo
*.o
*.opensdf
*.sdf
*.suo
*.vcxproj.user
Makefile
/aclocal.m4
/config.h
/config.log
/config.status
/stamp-h1
!/tests/lib_mysqludf_str_test/Makefile
/tests/lib_mysqludf_str_test/lib_mysqludf_str_test
!/tests/string_utils_test/Makefile
/tests/string_utils_test/string_utils_test
